<footer class="bg-light text-dark">
  <div class="container py-5 py-md-6">
    <div class="row justify-content-md-between">
      <div class="col-4 col-md-2">
        <h2 class="make-bold"><strong>Navigation</strong></h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="/about" class="link-secondary">About me</a>
          </li>
          <li class="mb-1">
            <a href="/projects" class="link-secondary">Projects</a>
          </li>
          <li class="mb-1">
            <a href="/education" class="link-secondary">Education</a>
          </li>
          <li class="mb-1">
            <a href="/experience" class="link-secondary">Experience</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="make-bold mb-3">Social</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="/contact" class="link-secondary">Form</a>
          </li>
          <li class="mb-1">
            <a href="https://www.linkedin.com/in/alex-lai-103785222/" class="link-secondary" target="_blank">Linkedin</a>
          </li>
          <li class="mb-1">
            <a href="https://www.instagram.com/b1039.1039" class="link-secondary" target="_blank">Instagram</a>
          </li>
          <li class="mb-1">
            <a href="mailto:alexlai7777@gmail.com" class="link-secondary">Email</a>
          </li>
          <li class="mb-1">
            <a href="https://www.facebook.com/chiming.lai.39" class="link-secondary">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
        <h2 class="make-bold mb-3"><strong>Copyright</strong></h2>
        <p class="text-secondary">&copy; 2023 Chi Ming Lai. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>