<!-- Navigation -->
<header>
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top" aria-label="Main">
    <div class="container">
      <img src="images/contact-main.jpg" class="avatar avatar-sm" alt="Alex Lai"> 
      &nbsp;&nbsp;&nbsp;
      <a href="/" class="navbar-brand d-inline-flex text-uppercase">Alex Lai<i class="material-icons ms-2" aria-hidden="true">psychology</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons icon-2x" aria-hidden="true">menu</i>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/about" class="nav-link" >About</a>
          </li>
          <li class="nav-item">
            <a href="/projects" class="nav-link" >Projects</a>
          </li>
          <li class="nav-item">
            <a href="/education" class="nav-link" >Education</a>
          </li>
          <li class="nav-item">
            <a href="/experience" class="nav-link" >Experience</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br/>

<!-- side bar -->
<div class="position-fixed end-0 sidebar">
  <div class="d-flex flex-column align-items-end py-2">
    <a href="https://github.com/alexLaiii" class="social-icon px-2 mb-1" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github icon-size"></i>
    </a>
    <a href="https://www.linkedin.com/in/alex-lai-103785222/" class="social-icon px-2 mb-1" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin icon-size"></i>
    </a>
    <a href="https://www.instagram.com/b1039.1039" class="social-icon px-2 mb-1" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram icon-size"></i>
    </a>
    <a href="https://discordapp.com/users/1122" class="social-icon px-2 mb-1" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-discord icon-size"></i>
    </a>
    <a href="tel:6476841666" class="social-icon px-2 mb-1" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-telephone icon-size"></i>
    </a>
  </div>
</div>




