{{> navbar}}
<!-- Your page-specific content goes here -->

<main id="main">
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">About me <i class="fa-solid fa-person-skiing-nordic" style="color: #ffffff;"></i></h1>
        <div class="border border-2 border-light w-15 my-4"></div>
        <p class="lead text-light mb-4">Igniting Creativity Through Collaboration and Learning</p>
      </div>
    </div>
  </div>

  <div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-lg-n6 px-3 px-lg-0">
        <div class="row justify-content-center py-4 py-md-5">
          <div class="col-md-10 col-lg-8">
            <p>Hello, and welcome to my world! I am a passionate LLM learner, software developer.</p>
            <img src="../images/passion.jpg" class="img-fluid mt-3 mb-2" alt="Two man and woman sitting on chair in front of glass widowpane" width="840" height="560">
            <h2 class="mt-4">My story</h2>
            <p>Studying LLM now btw, Ik you don't care the rest</p>
            
            <!-- carousel images -->
            <div id="slideshow" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="../images/about2.JPG" class="d-block w-100" alt="the mexico direction">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                  <img src="../images/about4.jpg" class="d-block w-100" alt="foot at beach">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                  <img src="../images/about5.jpg" class="d-block w-100" alt="a straight bridge road">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                  <img src="../images/about3.jpg" class="d-block w-100" alt="Downtown christmas">
                </div>
              </div>
              <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
                <i class="material-icons icon-lg" aria-hidden="true">arrow_back_ios_new</i>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#slideshow" data-bs-slide="next">
                <i class="material-icons icon-lg" aria-hidden="true">arrow_forward_ios</i>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
            </div>

            <!---->
            <br/>
            <p>As I look towards the future, I am excited to continue my journey of learning and growth within the software development industry. My aspirations include contributing to open-source projects and creating cutting-edge applications that have a meaningful and lasting impact on people's lives. Through innovation, collaboration, and a relentless pursuit of knowledge, I aim to make a positive difference in the world and help shape the future of technology.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2>Getting to Know More of Me</h2>   
        <h4>Follow me on </h4>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-md-4 col-xl-3">
            <a href="https://www.instagram.com/b1039.1039" target="_blank"><i class="fa-brands fa-instagram fa-bounce fa-2xl faHover"></i></a>
          </div>
          {{!-- and --}}
          <div class="col-md-4 col-xl-3">
            <a href="https://discordapp.com/users/1122" target="_blank"><i class="fa-brands fa-discord fa-bounce fa-2xl faHover"></i></a>
          </div>
        </div>
    </div>
  </div>
</main>

{{> footer}}