{{> navbar}}
<!-- Your page-specific content goes here -->
<main id="main">
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">Contact me <i class="fa-solid fa-comments" style="color: #ffffff;"></i></h1>
        <div class="border border-2 border-light w-15 my-4"></div>
        <p class="lead text-light mb-4">Ask me anything, or share your feedback.</p>
        <p class="lead text-light mb-4">You can also call me at (647) 684-1666.</p>
      </div>
    </div>
  </div>



  <!-- Form -->
  <div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-md-n6 px-3 px-md-0">
        <div class="row justify-content-center py-4 py-lg-5">
          <div class="col-md-10 col-lg-8">
            <p>Fields marked with an <span class="astreik-color">*</span> are required.</p>
            <form 
              action="https://formspree.io/f/mqkodolq"
              method="POST"
              class="py-3">
              <div class="mb-4">
                <label for="inputName" class="form-label">Name <span class="astreik-color">*</span></label>
                <input type="text" class="form-control" id="inputName" name="Name" placeholder="Enter your name" required>
              </div>
              <div class="mb-4">
                <label for="inputEmail" class="form-label">Email <span class="astreik-color">*</span></label>
                <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Enter your email address" required>
              </div>
              <div class="mb-4">
                <label for="messageTetxarea" class="form-label">Message <span class="astreik-color">*</span></label>
                <textarea class="form-control" id="messageTetxarea" name="message" rows="9" placeholder="Enter your message" required></textarea>
              </div>
              <div class="mb-4 form-check">
                <input type="checkbox" class="form-check-input" id="Acknowledge" name="inputCheck" required>
                  <label class="form-check-label small" for="inputCheck"><span class="astreik-color">*</span> I acknowledge that my personal information provided in this form will be kept confidential and used solely for the purpose it was intended. However, I understand that the party receiving my personal information cannot be held responsible for any risks, including but not limited to unauthorized access or disclosure, that may arise from sharing my personal information. </a>
                </label>
              </div>
              <button type="submit" class="btn btn-pill btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer}}