{{> navbar}}
<!-- Your page-specific content goes here -->

<main id="main">
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <h1 class="display-3">Education <i class="fa-solid fa-graduation-cap" style="color: #ffffff;"></i></h1>
        <figure class="ms-5">
            <blockquote class="blockquote">
                <p><i>Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</i></p>
            </blockquote>
            <figcaption class="blockquote-footer mt-n2">
                Malcolm X
            </figcaption>
        </figure>
  </div>

  <div class="container py-2"></div>
  <div class="container py-2"></div>

  <div class="bg-white text-black pb-5 pb-md-6">
    <div class="container py-2">
      <div class="row mt-n6">
        <div class="col-md-6">
          <div class="card  border-0 img-rising mb-4 mb-lg-5">
            <img src="../images/QueensLogo_colour.jpg" class="card-img-top img-fluid" alt="Seneca front" width="640" height="400">
            <div class="card-body px-0">
              <h2 class="card-title h3">
                <a href="https://www.cs.queensu.ca/" class="stretched-link" target="_blank">Bachelor of Computing (Computing, Mathematics, and Analytics)</a>
              </h2>
              <div class="text-muted text-uppercase mb-2"><strong>Queen's University</strong> | Kingston | 2024-09 to present</div>
              <p class="card-text">
              <h5 class="card-title h5">Relevant Coursework:</h5>
                <ul>
                    <li>Object-Oriented Programming</li>
                    <li>Web Development</li>
                    <li>Database Management</li>
                    <li>Data Structures and Algorithms</li>
                    <li>Software Engineering</li>
                    <li>Operating Systems (Windows &amp; Linux)</li>
                </ul>
              </p>
            </div>
              <h5 class="card-title h5"><i>Academic Honors:</i></h5>
                <p class="card-text">
                    <ul>
                        <li>Queen's University Academic Excellence Award, <i>2025</i></li>
                    </ul>
                </p>
          </div>

        </div>


 
        
      <!-- Pagination -->
      {{!-- <nav aria-label="Page">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item mx-1 disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
          <li class="page-item mx-1 active"><a class="page-link" href="#">1</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> --}}
    </div>
  </div>
</main>

{{> footer}}
