{{> navbar}}
<!-- Your page-specific content goes here -->

<main id="main">
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <h1 class="display-3">Experience <i class="fa-solid fa-briefcase" style="color: #ffffff;"></i></h1>
    <figure class="ms-5">
        <blockquote class="blockquote">
            <p><i>Start where you are. Use what you have. Do what you can.</i></p>
        </blockquote>
        <figcaption class="blockquote-footer mt-n2">
            Arthur Ashe
        </figcaption>
    </figure>
  </div>
  <div class="container py-2"></div>
  <div class="container py-2"></div>

  <div class="bg-white text-black pb-5 pb-md-6">
    <div class="container py-2">
      <div class="row mt-n6">
        <div class="col-md-6">
          <div class="card  border-0 img-rising mb-4 mb-lg-5">
            <img src="../images/walmart.jpg" class="card-img-top img-fluid" alt="Walmart store front" width="640" height="400">
            <div class="card-body px-0">
              <h2 class="card-title h3">
                <a href="https://corporate.walmart.com/our-story/our-business/international/walmart-canada" class="stretched-link" target="_blank">Produce Clerk (Current)</a>
              </h2>
              <div class="text-muted text-uppercase mb-2"><strong>Walmart Inc</strong> | Richmond Hill | 2023-03 to present</div>
              <p class="card-text">
                <ul>
                    <li>Provided expert assistance to customers in selecting premium produce with exceptional service.</li>
                    <li>Maintained visually stunning and organized produce displays through consistent stocking and rotation.</li>
                    <li>Ensured maximum freshness by regularly performing quality checks and promptly removing expired or damaged items.</li>
                </ul>
              </p>
            </div>
              <h5 class="card-title h5"><i>Skills Acquired:</i></h5>
                <p class="card-text">
                    <ul>
                        <li><strong>Customer Service</strong>: Enhanced communication and interpersonal abilities</li>
                        <li><strong>Product Presentation</strong>: Mastered visually appealing and organized displays</li>
                        <li><strong>Quality Control</strong>: Ensured product freshness through regular checks</li>
                    </ul>
                </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <img src="../images/nofrills.jpg" class="card-img-top img-fluid" alt="Nofrills store front" width="640" height="400">
            <div class="card-body px-0">
              <h2 class="card-title h3">
                <a href="https://www.nofrills.ca/about" class="stretched-link" target="_blank">Sales Clerk</a>
              </h2>
              <div class="text-muted text-uppercase mb-2"><strong>No Frills</strong> | Richmond Hill | 2022-11 to 2023-01</div>
                <p class="card-text">
                    <ul>
                        <li>Provided excellent customer service and assisted shoppers in selecting and purchasing products.</li>
                        <li>Maintained inventory and ensured product quality while maximizing product display.</li>
                        <li>Demonstrated attention to detail in unpacking and labeling products.</li>
                    </ul>
                </p>

            </div>
              <h5 class="card-title h5"><i>Skills Acquired:</i></h5>
                <p class="card-text">
                    <ul>
                        <li><strong>Customer Assistance</strong>: Delivered exceptional service and product guidance</li>
                        <li><strong>Inventory Management</strong>: Maintained stock levels and optimized displays</li>
                        <li><strong>Detail-Oriented</strong>: Mastered unpacking and accurate labeling processes</li>
                    </ul>
                </p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <img src="../images/has.jpg" class="card-img-top img-fluid" alt="Hong Kong Airport runway" width="640" height="400">
            <div class="card-body px-0">
              <h2 class="card-title h3">
                <a href="https://www.has.com.hk/" class="stretched-link" target="_blank">Passenger Services Officer</a>
              </h2>
              <div class="text-muted text-uppercase mb-2"><strong>Hong Kong Airport Services Ltd</strong> | Hong Kong | 2019-10 to 2021-03</div>
              <p class="card-text">
                <ul>
                    <li>Provided efficient check-in and boarding counter services to passengers.</li>
                    <li>Handled transactions, including cash and debit/credit card.</li>
                    <li>Handled passengers at boarding and arrival gates.</li>
                </ul>
              </p>
            </div>
              <h5 class="card-title h5"><i>Skills Acquired:</i></h5>
                <p class="card-text">
                    <ul>
                        <li><strong>Efficient Service</strong>: Streamlined check-in and boarding processes</li>
                        <li><strong>Transaction Handling</strong>: Managed cash and card payments</li>
                        <li><strong>Stress Management</strong>: Thrived in high-pressure situations and maintained composure</li>
                    </ul>
                </p>
          </div>
        </div>

         <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <h1>continually being updated...</h1>
          </div>
          </div>
        
      <!-- Pagination -->
      {{!-- <nav aria-label="Page">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item mx-1 disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
          <li class="page-item mx-1 active"><a class="page-link" href="#">1</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> --}}
    </div>
  </div>
</main>



