{{> navbar}}
<!-- Your page-specific content goes here -->

<main id="main">
  <!-- Header -->
  <div class="container py-5 py-md-6">
    <h1 class="display-3">Experience <i class="fa-solid fa-briefcase" style="color: #ffffff;"></i></h1>
    <figure class="ms-5">
        <blockquote class="blockquote">
            <p><i>Start where you are. Use what you have. Do what you can.</i></p>
        </blockquote>
        <figcaption class="blockquote-footer mt-n2">
            Arthur Ashe
        </figcaption>
    </figure>
  </div>
  <div class="container py-2"></div>
  <div class="container py-2"></div>

  <div class="bg-white text-black pb-5 pb-md-6">
    <div class="container py-2">
      <div class="row mt-n6">
        <div class="col-md-6">
          <div class="card  border-0 img-rising mb-4 mb-lg-5">
            <img src="../images/QueensLogo_colour.jpg" class="card-img-top img-fluid" alt="Walmart store front" width="640" height="400">
            <div class="card-body px-0">
              <h2 class="card-title h3">
                <a href="https://corporate.walmart.com/our-story/our-business/international/walmart-canada" class="stretched-link" target="_blank">Full-Stack developer</a>
              </h2>
              <div class="text-muted text-uppercase mb-2"><strong>Queen's University</strong> | kingston| 2024-12 to present</div>
              <p class="card-text">
                <ul>
                    <li>Responsible for developing and implementing new features across both the front-end and back-end for the Qweb website.</li>
                </ul>
              </p>
            </div>
              <h5 class="card-title h5"><i>Skills Acquired:</i></h5>
                <p class="card-text">
                    <ul>
                        <li><strong>Full-stack development</strong>: Both UI/UX design and API backend side with Javascript</li>
                    </ul>
                </p>
          </div>
        </div>
        
         <div class="col-md-6">
          <div class="card border-0 img-rising mb-4 mb-lg-5">
            <h1>continually being updated...</h1>
          </div>
          </div>
        
      <!-- Pagination -->
      {{!-- <nav aria-label="Page">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item mx-1 disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
          <li class="page-item mx-1 active"><a class="page-link" href="#">1</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
          <li class="page-item mx-1"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav> --}}
    </div>
  </div>
</main>

{{> footer}}



