{{> navbar}}
<!-- Your page-specific content goes here -->
<!-- Hero Section -->




  <main id="main">
  <!-- Header -->
  <div class="container py-5">
    <div class="col-xxl-10">
      <h1 class="display-1 fade-in-right" style="animation-delay: 0s;">Welcome</h1> 
      <h1 class="display-1 fade-in-right" style="animation-delay: 0.5s;">To</h1>
      <h1 class="display-1 fade-in-right" style="animation-delay: 1s;">Chi Ming Lai Portfolio</h1>
      <div class="border border-6 border-light w-25 my-4"></div>
    </div>
    <div class="col-lg-10 col-xxl-8">
      <p class="font-serif lead mb-4 text-light fade-in-right" style="animation-delay: 1.5s;">York U student and aspiring web/software developer. Discover my projects and let's innovate together!</p>
      <a href="/file/dummyResume.pdf" class="btn btn-primary fade-in-right" style="animation-delay: 2s;" target="_blank">My Resume</a>
    </div>
  </div>

  <!-- Projects -->
  <div class="container py-4">
    <ul class="row list-unstyled gy-4">
      <li class="col-md-6">
        <a href="/about" class="d-inline-block">
          <figure>
            <div class="img-overlay mb-3">
              <img src="/images/about-main.JPG" alt="" class="img-thumbnail" width="800" height="550">
              <div class="img-hover">
                <div class="img-text">View Page</div>
              </div>
            </div>
            <figcaption class="h4 fw-normal text-center">About Me</figcaption>
          </figure>
        </a>
      </li>
      <li class="col-md-6">
        <a href="/projects" class="d-inline-block">
          <figure>
            <div class="img-overlay mb-3">
              <img src="/images/project-main.jpg" alt="" class="img-thumbnail" width="800" height="550">
              <div class="img-hover">
                <div class="img-text">View Page</div>
              </div>
            </div>
            <figcaption class="h4 fw-normal text-center">My Projects</figcaption>
          </figure>
        </a>
      </li>
      <li class="col-md-6">
        <a href="/education" class="d-inline-block">
          <figure>
            <div class="img-overlay mb-3">
              <img src="/images/education-main.jpg" alt="" class="img-thumbnail" width="800" height="550">
              <div class="img-hover">
                <div class="img-text">View Page</div>
              </div>
            </div>
            <figcaption class="h4 fw-normal text-center">My Education</figcaption>
          </figure>
        </a>
      </li>
      <li class="col-md-6">
        <a href="/contact" class="d-inline-block">
          <figure>
            <div class="img-overlay mb-3">
              <img src="/images/contact-main.jpg" alt="" class="img-thumbnail" width="800" height="550">
              <div class="img-hover">
                <div class="img-text">View Page</div>
              </div>
            </div>
            <figcaption class="h4 fw-normal text-center">Contact Me</figcaption>
          </figure>
        </a>
      </li>
    </ul>
    <div class="text-center my-4 my-md-5">
      <a href="https://github.com/alexLaiii" class="btn btn-outline-light" target="_blank">View My GitHub</a>
    </div>
  </div>

  {{!-- <!-- Testimonials -->
  <div class="bg-white text-black">
    <div class="container py-5 py-md-6">
      <h2 class="text-center mb-5">What people are saying…</h2>
      <div class="row gy-4">
        <div class="col-md">
          <blockquote class="text-center">
            <img src="assets/img/tim-schoch.jpg" class="avatar avatar-lg mb-3" alt="Tim Schoch">
            <cite class="d-block h5 fst-normal mb-1">Tim Schoch</cite>
            <span class="small text-muted text-uppercase">Designer</span>
            <p class="quote text-muted mt-3 mb-0">Focus theme is great. It really saves me time and effort. Thank you so much for your help</p>
          </blockquote>
        </div>
        <div class="col-md">
          <blockquote class="text-center">
            <img src="assets/img/olive-mathews.jpg" class="avatar avatar-lg mb-3" alt="Olive Mathews">
            <cite class="d-block h5 fst-normal mb-1">Olive Mathews</cite>
            <span class="small text-muted text-uppercase">Photographer</span>
            <p class="quote text-muted mt-3 mb-0">Focus is great. I will refer everyone I know. This theme is worth much more than I paid. I'm loving it.</p>
          </blockquote>
        </div>
        <div class="col-md">
          <blockquote class="text-center">
            <img src="assets/img/malan-alankara.jpg" class="avatar avatar-lg mb-3" alt="Malan Alankara">
            <cite class="d-block h5 fst-normal mb-1">Malan Alankara</cite>
            <span class="small text-muted text-uppercase">Architect</span>
            <p class="quote text-muted mt-3 mb-0">Not able to tell you how happy I am with Focus. It's exactly what I've been looking for.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div> --}}

  <!-- Accordion -->
  <div class="container py-5 py-md-6">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xxl-8">
        <h2 class="text-center mb-5">FAQs About Me</h2>
        <div class="accordion" id="accordionFaq">
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                How long have you been learning coding?
              </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                I have been a lifelong learner of coding, having studied it for 2 years both through college and various online platforms.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What programming languages do you specialize in?
              </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                 I specialize in JavaScript, C++, HTML, CSS, Python and have experience with React.js.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What type of projects have you worked on?
              </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                I've developed web applications, implemented relational and non-relational databases (Postgres, MongoDB), and built RESTful APIs.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is your experience with version control systems?
              </button>
            </h3>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                I'm proficient in Git, allowing me to collaborate effectively with teams and manage code changes.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                How do you stay updated with the latest industry trends and technologies?
              </button>
            </h3>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                I regularly attend workshops, webinars, and online courses to enhance my skills and stay current with new developments in the tech industry.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                How do you approach problem-solving in your projects?
              </button>
            </h3>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionFaq">
              <div class="accordion-body">
                I prioritize understanding the problem, breaking it down into smaller tasks, and employing efficient coding practices to create scalable solutions
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Pricing cards -->
  <div class="bg-white text-black">
    <div class="container py-5 py-md-6">
      <h2 class="text-center mb-5">Contact me right away &nbsp;<i class="fa-solid fa-phone-volume fa-beat fa-xl"></i></h2>
      <div class="row gy-4">
        <div class="col-md">
          <a href="https://www.linkedin.com/in/alex-lai-10378522/" target="_blank">
          <div class="card text-center">
            <div class="card-header bg-light border-bottom-0 py-4">
              <h3 class="fw-normal mb-2">Linkedin <i class="fa-brands fa-linkedin fa-beat fa-lg2 faHover"></i></h3>
              <div class="d-flex justify-content-center">
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled text-muted">
                <li class="py-2">Professional networking</li>
                <li class="py-2">Career updates</li>
                <li class="py-2">Knowledge sharing</li>
              </ul>
            </div>
          </div>
          </a>
        </div>
        <div class="col-md">
          <a href="https://www.instagram.com/b1039.1039" target="_blank">
          <div class="card text-center">
            <div class="card-header bg-primary border-bottom-0 py-4">
              <h3 class="fw-normal mb-2">Instagram <i class="fa-brands fa-square-instagram fa-beat fa-lg2 faHover"></i></h3>
              <div class="d-flex justify-content-center">
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled text-muted">
                <li class="py-2">Latest photos</li>
                <li class="py-2">Daily live story updates</li>
                <li class="py-2">Behind-the-scenes content</li>
              </ul>
            </div>
          </div>
          </a>
        </div>
        <div class="col-md">
          <a href="https://discordapp.com/users/1122" target="_blank">
          <div class="card text-center">
            <div class="card-header bg-light border-bottom-0 py-4">
              <h3 class="fw-normal mb-2">Discord <i class="fa-brands fa-discord fa-beat fa-lg2 faHover"></i></h3>
              <div class="d-flex justify-content-center">
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled text-muted">
                <li class="py-2">Gaming contact</li>
                <li class="py-2">Personal interests</li>
                <li class="py-2">Community building</li>
              </ul>
            </div>
          </div>
          </a>
        </div>
        <div class="col-md">
          <a href="https://github.com/alexLaiii" target="_blank">
          <div class="card text-center">
            <div class="card-header bg-primary border-bottom-0 py-4">
              <h3 class="fw-normal mb-2">GitHub <i class="fa-brands fa-square-github fa-beat fa-lg2 faHover"></i></h3>
              <div class="d-flex justify-content-center">
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled text-muted">
                <li class="py-2">Coding projects</li>
                <li class="py-2">Technical skills</li>
                <li class="py-2">Recent projects update</li>
              </ul>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{!-- <!-- Call to action -->
  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2 class="font-sans">Focus is mobile-ready, flexible, and cross-browser</h2>
      <p class="lead mb-4">Impress your audiences with memorable pages that showcase your works</p>
      <a href="https://themes.getbootstrap.com/product/focus/" class="btn btn-outline-dark">Buy now</a>
    </div>
  </div>
</main> --}}



