{{> navbar}}


<main id="main">
  <!-- Header -->
  <div class="container py-5 py-lg-6">
    <h1 class="display-3">My Projects <i class="fa-solid fa-person-chalkboard" style="color: #ffffff;"></i></h1>
    <div class="border border-5 border-light w-15 mb-4"></div>
    <div class="row">
      <div class="col-lg-10 col-xxl-8">
   
      </div>
    </div>
  </div>

  <!-- Projects -->
  <div class="container mb-4">
    
    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="https://github.com/alexLaiii/Fake_news_detector_production" class="d-inline-block" target="_blank">
          <figure class="img-scale">
            <img src="../images/fake_news_detector.png" alt="fake_news_detector JPG" class="img-fluid">
          </figure>
        </a>
                  <figure class="image-container">
            <div class="img-box img-scale">
              <img src="../images/nextjs.png" alt="NextJS PNG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/cloudinary.png" alt="Css JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/Google_BERT_v1.jpg" alt="Bert JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/mongo-db-logo-removebg-preview.png" alt="MongoDB PNG" class="img-fluid">
            </div>
           
        </figure>

      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">Fake news detector</h2>
        <p class="fw-light text-light">Detect fake news powered by AI  
          <ul>
            <li>Fine-tune Base BERT model to detect fake news</li>
        
          </ul>
          Skills used:
          <ul>
            <li>Fine tuning</li>
            <li>LLM</li>
            <li>Deep Learning</li>
            <li>Hugging face(BERT)</li>

          </ul>
        </p>
        <a href="https://fake-news-detector-production.vercel.app/" class="link-underline" target="_blank">Live demo here</a>
      </div>
    </div>

    {{!-- <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="https://github.com/alexLaiii/dating_app" class="d-inline-block" target="_blank">
          <figure class="img-scale">
            <img src="../images/project-ongoing.jpg" alt="Dating App screenshot JPG" class="img-fluid">
          </figure>
        </a>

      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">SoulMate: A Personality-Driven Dating App (Ongoing Project)</h2>
        <p class="fw-light text-light">SoulMate is a matchmaking web application developed using Next.js, a popular React-based framework for building server-side rendered web applications. 
          <ul>
            <li>Use Material UI as the UI design</li>
            <li>Add yourself to the MatchFinder system and receive accurate and effective matchmaking results</li>
            <li>Effortlessly browse potential partners with MatchFinder's user-friendly interface.</li>
          </ul>
        </p>
        <a href="https://github.com/alexLaiii/dating_app" class="link-underline" target="_blank">View project</a>
      </div>
    </div> --}}
    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6 order-lg-2">
        <a href="https://movie-app-rho-ruddy.vercel.app/about/" class="d-inline-block" target="_blank">
          <figure class="img-scale">
            <img src="../images/project2.jpg" alt="Movie Finder" class="img-fluid">
          </figure>
        </a>
          <figure class="image-container">
            <div class="img-box img-scale">
              <img src="../images/react.jpg" alt="React JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/css.jpg" alt="Css JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/vercel.jpg" alt="Vercel JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/postgres.png" alt="Postgres PNG" class="img-fluid">
            </div>
           
        </figure>
      </div>
      <div class="col-lg-5 order-lg-1">
        <h2 class="fw-normal">MovieFinder</h2>
        <p class="fw-light text-light">A cutting-edge web application offers an immersive and personalized movie discovery experience for film enthusiasts of all kinds. With the app, users can:
          <ul>
            <li>Search and discover movies effortlessly</li>
            <li>View in-depth information and ratings for individual movies, including cast, crew, and reviews</li>
            <li>Create a personalized watchlist to keep track of must-see films</li>
          </ul>
          Skills used:
          <ul>
            <li>React</li>
            <li>RESTful API design</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
            <li>Git/GitHub for version control</li>
            <li>User interface (UI) design</li>
            <li>Data visualization</li>
            <li>Database design and management (Postgres)</li>
            <li>Cloud hosting and deployment (vercel)</li>
          </ul>
        </p>
        <a href="https://movie-app-rho-ruddy.vercel.app/about/" class="link-underline" target="_blank">View project</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/f051a0303/Movie-App" class="link-underline" target="_blank">View source code</a>
      </div>
    </div>
    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="https://my-app-tau-gules.vercel.app/" class="d-inline-block" target="_blank">
          <figure class=" img-scale">
            <img src="../images/project1.jpg" alt="Museum search app screenshot" class="img-fluid">
          </figure>
        </a>
          {{!-- <figure class="img-color img-scale">
            <img src="../images/project1.jpg" alt="Museum search app screenshot" class="img-fluid">
          </figure> --}}
        <figure class="image-container">
            <div class="img-box  img-scale">
              <img src="../images/react.jpg" alt="ReactJS JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/jslogo.jpg" alt="Javascript JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/github.png" alt="Github PNG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/mongo-db-logo-removebg-preview.png" alt="MongoDB Altas PNG" class="img-fluid">
            </div>
           
        </figure>

      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">Museum Treasure Hunt</h2>
        <p class="fw-light text-light">A React web application with a RESTful API makes museum artifact discovery easy and enjoyable. With the app, users can:
          <ul>
            <li>Search for museum artifacts by keyword</li>
            <li>View high-quality images and detailed descriptions of the artifacts</li>
            <li>Save their favorite artifacts to a personal list for easy access</li>
          </ul>
          Skills used:
          <ul>
            <li>React</li>
            <li>JavaScript</li>
            <li>RESTful API design</li>
            <li>HTML/CSS</li>
            <li>Git/GitHub for version control</li>
            <li>User interface (UI) design</li>
            <li>Data visualization</li>
            <li>Database design and management (MongoDB Altas)</li>
            <li>Cloud hosting and deployment (vercel)</li>
          </ul>
        </p>
        <a href="https://my-app-tau-gules.vercel.app/" class="link-underline" target="_blank">View project</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/alexLaiii/museumApp" class="link-underline" target="_blank">View source code</a>
      </div>
    </div>
    {{!-- <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6 order-lg-2">
        <a href="https://github.com/f051a0303/product-management" class="d-inline-block" target="_blank">
          <figure class=" img-scale">
            <img src="../images/project3.jpg" alt="Assembly picture" class="img-fluid">
          </figure>
        </a>
           <figure class="image-container">
            <div class="img-box  img-scale">
              <img src="../images/C++.jpg" alt="C++ JPG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/dsa.png" alt="data structures PNG" class="img-fluid">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/debug.png" alt="Debug PNG" class="img-fluid" style="margin-top: 2rem">
            </div>
            <div class="img-box  img-scale">
              <img src="../images/problemSolving.png" alt="problemSolving PNG" class="img-fluid">
            </div>
           
        </figure>
      </div> --}}
      {{!-- <div class="col-lg-5 order-lg-1">
        <h2 class="fw-normal">Assembly Line Simulation</h2>
        <p class="fw-light text-light">A C++ assembly line simulation:
          <ul>
            <li>Models the product assembly process from start to finish</li>
            <li>Utilizes object-oriented programming principles and software design</li>
            <li>Gain hands-on experience for academic and practical purposes</li>
          </ul>
          Skills used:
          <ul>
            <li>C++</li>
            <li>Object-oriented programming (OOP)</li>
            <li>Algorithms and data structures</li>
            <li>Debugging and testing</li>
            <li>Version control with Git</li>
            <li>Problem-solving and critical thinking</li>
          </ul>
        </p>
        <a href="https://github.com/f051a0303/product-management" class="link-underline" target="_blank">View project</a>
      </div> --}}
    </div>
  </div>


  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2>Get in touch with me to create a customized website that meets your unique needs and goals.</h2>
      <p class="lead mb-4">
        I offer a range of services to help bring your vision to life, including: 
        <ul id="services">    
          <li>Website design and development</li>
          <li>Responsive design for optimal performance on all devices</li>
          <li>Search engine optimization (SEO)</li>
          <li>Ongoing maintenance and support</li>
        </ul>
      </p>
      <a href="/contact" class="btn btn-outline-dark">Contact Me Now</a>
    </div>
  </div>
</main>

{{> footer}}

